@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-size: 16px;
}

body{
    @apply bg-c4
}

h1{
    letter-spacing: -1.5px;
    @apply font-light text-4xl text-black;
}

h2{
    @apply font-normal text-2xl text-black;
}

h3{
    @apply font-bold text-lg text-black
}

p{
    @apply font-normal text-lg;
}

.smallestText{
    @apply text-xs font-medium;
}

.buttonLarge{
    @apply bg-c2 py-3 w-full rounded-2xl shadow-lg hover:shadow-xl text-gray-50 font-medium text-lg text-center sm:w-auto sm:px-8;
}

.buttonSmall{
    @apply bg-c2 py-2 px-3 w-max rounded-lg shadow-lg hover:shadow-xl text-gray-50 font-medium text-xs text-center justify-self-center self-center sm:text-lg;
    height: max-content;
}

.bgHPImg{
    @apply bg-c2 bg-opacity-50;
    /*background-image: url("/images/backgroundHP.jpg");*/
}

.defaultInput{
    @apply w-full text-lg py-3 rounded-2xl mb-7 bg-c4 text-c0 font-medium focus:outline-none focus:ring-2 focus:ring-c2 focus:border-transparent;
}

.errorMessageInput{
    @apply pb-1 pt-4 pl-4 text-red-500 text-sm bg-red-200 rounded-b-2xl -mt-10 mb-4;
}

.messageInfo{
    font-size: 0.6rem;
    line-height: 0.6rem;
    @apply font-normal text-c0 md:text-xs
}

.messengerContainer{
    height: calc(100vh - theme('spacing.32'));
}

.react-input-emoji--wrapper .react-input-emoji--input{
    @apply bg-c4 rounded-2xl text-black text-sm pl-2.5 pr-10 py-2.5 mr-2;
}

.react-emoji .react-input-emoji--container{
    @apply m-0;
}

.react-emoji-picker--container{
    @apply right-0
}

.react-emoji .react-input-emoji--button{
    @apply absolute right-0 mr-2 z-10;

}
.react-emoji-picker--container .react-emoji-picker--wrapper{
    @apply -right-16;
    width: 355px;
}

@media only screen and (max-width: 380px) {
    .react-emoji-picker--container .react-emoji-picker--wrapper{
        @apply -right-24 transform scale-90 -mb-3;
    }
}

.react-input-emoji--button.react-input-emoji--button__show svg{
    @apply fill-current text-c2;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: opacity(50%);
    transform: scale(1.3);
}

.checkMark:after {
    content: "";
    position: absolute;
    display: none;
}


input:checked ~ .checkMark:after {
    @apply block;
}

input:checked ~ .lineThrough {
    text-decoration: line-through;
}

.checkMark:after{
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkMarkGray:after{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #d1d5db;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
input:checked ~ .checkMarkGray:after {
    @apply block;
}

.secondCheckMark:after{
    width: 7px;
    height: 15px;
    left: 6px;
    top: 1px;
    border-width: 0 3px 3px 0;
}

.radioContainer{
    @apply block relative cursor-pointer;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioContainer input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

.radioCheck {
     @apply absolute w-5 h-5 mr-auto rounded-full top-0 bg-c4 mt-1;
}

.radioContainer input:checked ~ .radioCheck {
    @apply bg-c2
}

.radioCheck:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radioCheck:after {
    @apply block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radioCheck:after {
    top: 5px;
    left: 5px;;
    @apply bg-white rounded-full w-2.5 h-2.5;
}



.mySlider{
    transition: 0.4s;
}

.mySlider:before {
    @apply absolute h-6 w-6 -bottom-1.5 -left-0.5 bg-c1;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
}

.mySwitch input:checked + .mySlider {
    @apply bg-c2 bg-opacity-50;
}

.mySwitch input:checked + .mySlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    @apply bg-c2 bg-opacity-100;
}

/* Rounded sliders */
.mySlider.myRound {
    border-radius: 34px;
}

.mySlider.myRound:before {
    border-radius: 50%;
}

.bigCalendar .rbc-toolbar-label {
    @apply w-52 text-lg font-medium;
}